body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #000;
    color: #fff;
}

.top-banner {
    text-align: center;
    padding: 5px;
    background-color: #333;
    font-size: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    text-decoration:none !important;
    color: black !important;
}

.nav-button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
    text-decoration:none !important;
    color: black !important;
}

.nav-button:hover {
    background-color: #f0f0f0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1; 
}

.search-container input {
    flex: 1; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dddddd;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.icons .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    color: #000;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
}

.promo {
    text-align: center;
}

.promo-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}




.card-container {
    background-color: #ddd;
    padding: 20px;
    border-radius: 15px;
    margin-top: 25px; 
        
}
.custom-card {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}
.text-section {
    text-align: left;
    padding-right: 20px;
}
.text-section p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
}
/* establece uso del espacio */
.contenedorProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-left :50px;
}

/* tamaño de tarjeta border redondo */
.card-item {
    width: 18rem;
    height: 18rem; 
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
}

/* uso del espacio en imagen y border superior redondo
espacio margen al texto que continua*/
.card-item img {
    height: 60%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 6px;
    box-shadow: 0 0 5px black;
}

.descripcion p{
    padding-left: 20px;
}

.descripcion .agregar {
    border-radius: 20px;
    margin-left: 50px;
    background-color: rgb(12, 12, 12);
    color: white;
}


/* titulo de section fondo negro letra blanca centrado
espacio arriba y abajo */
.productosTitulo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    background-color: rgb(46, 46, 46);
}



/* 
animacion llamada show
cuando se inicia las imagenes son opacas y pequeñas
y acuando llegan al viewport claras y tamaño normal */
@keyframes show{
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* se le el un nombre al viewtimin y estara enlazado 
al scroll en vertical y enlazamos el scroll y el elemento que 
vamos animar */
.card-item {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
/* estilizamos que se muestre la animacion al 25 apenas se muestre en pantalla
y al 30 se vera completa, y con animation-fiil-mode se ve de igual manera 
para arriba que para abajo, de esta manera se quita un bug de salto imagen */
animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}


/* 
Estilos Mayra  */

.contenedor-carrito{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.items-carrito{
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.info-producto {
    display: flex;
    flex-direction: column;
}

.precio {
    font-weight: bold;
}

.boton-cantidad  {
    display: flex;
    align-items: center;
}

.boton-cantidad button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
}

.carrito-resumen{
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #444;
}

.tucarrito{
    margin-left: 13%;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 2%;
  }
  
.social-icon:hover {
    transform: scale(1.1);
  }

/* Estilos Eduard */

/* disposicion y justificacion */
.comunidad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    margin-left: 10px;
    justify-content: center;
}

/* se relaciona ocultar lo que este fuera del contenedor
espacio entre cards y manito sobre div */
.senderismo{
    position: relative;
    overflow: hidden;
    gap: 3px;
    width: 400px;
    cursor: pointer;
}

/* se oculta a primera imagen con opacidad 0
se le una transicion para no ser tan tosco el 
cambio se le da traslucides al 60% color letra blanca */
.senderismo .capa {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 60%);
    transition: all 500ms ease-out;
    opacity: 0;
    text-align: center;
}

/* cuando se pase el cursor muestra el texto */
.senderismo .capa:hover{
    opacity: 1;

}

/* se alinea al centro  */
.capa h3{
    margin-top: 250px;
}

/* contenedor negro y letra blanca centrada */
.tituloComunidad{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    background-color: rgb(46, 46, 46);
}

/* redondes y color de fondo negro */
.capa button{
    border-radius: 20px;
    background-color: black;
}

/* color blanco en texto y sin linea */
.capa button a{
    color: white;
    text-decoration: none;
}



  

.contenedor-nosotros {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 70vh;
    display: flex; 
    justify-content: center;
    overflow: hidden;
    margin-top: 50px
}

img.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.texto-nosotros {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 2vw;
    padding: 10px;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
    height: auto;
}

.equipo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor-equipo {
    display: flex;
    flex-wrap: wrap;
    gap: 90px; 
    justify-content: center; 
    padding: 100px;
    font-size: 30px;
    margin-bottom: 50px;
}

.linea {
    border: 0;
    border-top: 2px solid #000;
    width: 30%; 
    margin: 20px auto; 
}
